[submodule "lab-yumyum"]
	path = lab-yumyum
	url = https://github.com/Ironhack-Paris-PTWD-September-2019/lab-yumyum.git
[submodule "lab-canvas-race-car"]
	path = lab-canvas-race-car
	url = https://github.com/Ironhack-Paris-PTWD-September-2019/lab-canvas-race-car.git
	branch = solution
[submodule "canvas-codealong"]
	path = canvas-codealong
	url = https://github.com/Ironhack-Paris-PTWD-September-2019/canvas-codealong.git
[submodule "lab-css-recipes-clone"]
	path = lab-css-recipes-clone
	url = https://github.com/Ironhack-Paris-PTWD-September-2019/lab-css-recipes-clone.git
