[submodule "lab-yumyum"]
	path = lab-yumyum
	url = https://github.com/Ironhack-Paris-PTWD-September-2019/lab-yumyum.git
[submodule "lab-canvas-race-car"]
	path = lab-canvas-race-car
	url = https://github.com/Ironhack-Paris-PTWD-September-2019/lab-canvas-race-car.git
	branch = solution
